<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='govno.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Изменить трек</title>
</head>

<body>
    <nav class="nav">
        <div class="nav__container">
            <a href="{{ url_for('createtrack') }}" class="nav__link">Создать трэк</a>
            <a href="{{ url_for('orders') }}" class="nav__link">Список трэков</a>
            <a href="{{ url_for('logout') }}" class="nav__link">Выйти</a>
        </div>
    </nav>
    <div class="main">
        <h1 class="main__title">Изменить трэк</h1>
        <form action = "{{ url_for('editTrack', track = track) }}" method="POST" class="main__form">
            <div class="main__label">Введите данные трэка: </div>
            <div class="main__inputs">
                <input type="text" class="input input_l" name="sender" placeholder="Отправитель" value="{{ info[1] }}">
                <input type="text" class="input input_l" name="recipient" placeholder="Получатель" value = "{{ info[2] }}">
                <input type="text" class="input input_l" name="weight" placeholder="Вес" value = "{{ info[3] }}">
                <input type="text" class="input input_l" name="track_number" placeholder="Номер трека" value = "{{ info[0] }}">
            </div>
            <div class="main__label">Введите данные доставки: </div>
            <div class="main__inputs">
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[0]" placeholder="Дата" value="{{ stat[1].split(',')[0] }} {{ stat[1].split(',')[1].split('|')[0] }}">
                    <input type="text" class="input" name="names[0]" placeholder="Название" value="{{ stat[1].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[1]" placeholder="Дата" value="{{ stat[2].split(',')[0] }} {{ stat[2].split(',')[1].split('|')[0] }}">
                    <input type="text" class="input" name="names[1]" placeholder="Название" value="{{ stat[2].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[2]" placeholder="Дата" value="{{ stat[3].split(',')[0] }} {{ stat[3].split(',')[1].split('|')[0] }}">
                    <input type="text" class="input" name="names[2]" placeholder="Название"
                    value="{{ stat[3].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[3]" placeholder="Дата" value="{{ stat[4].split(',')[0] }} {{ stat[4].split(',')[1].split('|')[0] }}">
                    <input type="text" class="input" name="names[3]" placeholder="Название"
                    value="{{ stat[4].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[4]" placeholder="Дата" value="{{ stat[5].split(',')[0] }} {{ stat[5].split(',')[1].split('|')[0] }}" 22:45:48">
                    <input type="text" class="input" name="names[4]" placeholder="Название"
                    value="{{ stat[5].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[5]" placeholder="Дата" value="{{ stat[6].split(',')[0] }} {{ stat[6].split(',')[1].split('|')[0] }}" 04:55:58">
                    <input type="text" class="input" name="names[5]" placeholder="Название" value="{{ stat[6].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[6]" placeholder="Дата" value="{{ stat[7].split(',')[0] }} {{ stat[7].split(',')[1].split('|')[0] }}" 01:06:27">
                    <input type="text" class="input" name="names[6]" placeholder="Название"
                    value="{{ stat[7].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[7]" placeholder="Дата" value="{{ stat[8].split(',')[0] }} {{ stat[8].split(',')[1].split('|')[0] }}" 11:29:13">
                    <input type="text" class="input" name="names[7]" placeholder="Название"
                    value="{{ stat[8].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[8]" placeholder="Дата" value="{{ stat[8].split(',')[0] }} {{ stat[8].split(',')[1].split('|')[0] }}" 12:29:13">
                    <input type="text" class="input" name="names[8]" placeholder="Название"
                    value="{{ stat[9].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[9]" placeholder="Дата" value="{{ stat[9].split(',')[0] }} {{ stat[9].split(',')[1].split('|')[0] }}" 11:16:50">
                    <input type="text" class="input" name="names[9]" placeholder="Название" value="{{ stat[10].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[10]" placeholder="Дата" value="{{ stat[10].split(',')[0] }} {{ stat[10].split(',')[1].split('|')[0] }}" 20:17:09">
                    <input type="text" class="input" name="names[10]" placeholder="Название"
                    value="{{ stat[11].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[11]" placeholder="Дата" value="{{ stat[11].split(',')[0] }} {{ stat[11].split(',')[1].split('|')[0] }}" 08:45:29">
                    <input type="text" class="input" name="names[11]" placeholder="Название"
                    value="{{ stat[12].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[12]" placeholder="Дата" value="{{ stat[12].split(',')[0] }} {{ stat[12].split(',')[1].split('|')[0] }}" 23:28:23">
                    <input type="text" class="input" name="names[12]" placeholder="Название"
                    value="{{ stat[13].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[13]" placeholder="Дата" value="{{ stat[13].split(',')[0] }} {{ stat[13].split(',')[1].split('|')[0] }}" 20:38:39">
                    <input type="text" class="input" name="names[13]" placeholder="Название"
                    value="{{ stat[14].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[14]" placeholder="Дата" value="{{ stat[14].split(',')[0] }} {{ stat[14].split(',')[1].split('|')[0] }}" 00:15:01">
                    <input type="text" class="input" name="names[14]" placeholder="Название"
                    value="{{ stat[15].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[15]" placeholder="Дата" value="{{ stat[15].split(',')[0] }} {{ stat[15].split(',')[1].split('|')[0] }}" 23:03:12">
                    <input type="text" class="input" name="names[15]" placeholder="Название"
                    value="{{ stat[16].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[16]" placeholder="Дата" value="{{ stat[16].split(',')[0] }} {{ stat[16].split(',')[1].split('|')[0] }}" 19:17:06">
                    <input type="text" class="input" name="names[16]" placeholder="Название" value="{{ stat[17].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[17]" placeholder="Дата" value="{{ stat[17].split(',')[0] }} {{ stat[17].split(',')[1].split('|')[0] }}" 14:46:16">
                    <input type="text" class="input" name="names[17]" placeholder="Название"
                    value="{{ stat[18].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[18]" placeholder="Дата" value="{{ stat[18].split(',')[0] }} {{ stat[18].split(',')[1].split('|')[0] }}" 07:16:53">
                    <input type="text" class="input" name="names[18]" placeholder="Название"
                    value="{{ stat[19].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[19]" placeholder="Дата" value="{{ stat[19].split(',')[0] }} {{ stat[19].split(',')[1].split('|')[0] }}" 08:34:52">
                    <input type="text" class="input" name="names[19]" placeholder="Название" value="{{ stat[20].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[20]" placeholder="Дата" value="{{ stat[20].split(',')[0] }} {{ stat[20].split(',')[1].split('|')[0] }}" 22:13:28">
                    <input type="text" class="input" name="names[20]" placeholder="Название"
                    value="{{ stat[21].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[21]" placeholder="Дата" value="{{ stat[21].split(',')[0] }} {{ stat[21].split(',')[1].split('|')[0] }}" 23:05:21">
                    <input type="text" class="input" name="names[21]" placeholder="Название" value="{{ stat[22].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[22]" placeholder="Дата" value="{{ stat[22].split(',')[0] }} {{ stat[22].split(',')[1].split('|')[0] }}" 23:29:10">
                    <input type="text" class="input" name="names[22]" placeholder="Название"
                    value="{{ stat[23].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[23]" placeholder="Дата" value="{{ stat[23].split(',')[0] }} {{ stat[23].split(',')[1].split('|')[0] }}" 09:56:45">
                    <input type="text" class="input" name="names[23]" placeholder="Название"
                    value="{{ stat[24].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[24]" placeholder="Дата" value="{{ stat[24].split(',')[0] }} {{ stat[24].split(',')[1].split('|')[0] }}" 05:05:31">
                    <input type="text" class="input" name="names[24]" placeholder="Название" value="{{ stat[25].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[25]" placeholder="Дата" value="{{ stat[25].split(',')[0] }} {{ stat[25].split(',')[1].split('|')[0] }}" 08:46:30">
                    <input type="text" class="input" name="names[25]" placeholder="Название"
                    value="{{ stat[26].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[26]" placeholder="Дата" value="{{ stat[26].split(',')[0] }} {{ stat[26].split(',')[1].split('|')[0] }}" 10:18:15">
                    <input type="text" class="input" name="names[26]" placeholder="Название"
                    value="{{ stat[27].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[27]" placeholder="Дата"value="{{ stat[27].split(',')[0] }} {{ stat[27].split(',')[1].split('|')[0] }}" 16:09:14">
                    <input type="text" class="input" name="names[27]" placeholder="Название"
                    value="{{ stat[28].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[28]" placeholder="Дата" value="{{ stat[28].split(',')[0] }} {{ stat[28].split(',')[1].split('|')[0] }}" 07:38:24">
                    <input type="text" class="input" name="names[28]" placeholder="Название"
                    value="{{ stat[29].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[29]" placeholder="Дата" value="{{ stat[29].split(',')[0] }} {{ stat[29].split(',')[1].split('|')[0] }}" 22:02:58">
                    <input type="text" class="input" name="names[29]" placeholder="Название" value="{{ stat[30].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[30]" placeholder="Дата" value="{{ stat[39].split(',')[0] }} {{ stat[30].split(',')[1].split('|')[0] }}" 14:44:24">
                    <input type="text" class="input" name="names[30]" placeholder="Название" value="{{ stat[31].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[31]" placeholder="Дата" value="{{ stat[31].split(',')[0] }} {{ stat[31].split(',')[1].split('|')[0] }}" 02:42:40">
                    <input type="text" class="input" name="names[31]" placeholder="Название"
                    value="{{ stat[32].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[32]" placeholder="Дата" value="{{ stat[32].split(',')[0] }} {{ stat[32].split(',')[1].split('|')[0] }}" 16:15:02">
                    <input type="text" class="input" name="names[32]" placeholder="Название" value="{{ stat[33].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[33]" placeholder="Дата" value="{{ stat[33].split(',')[0] }} {{ stat[33].split(',')[1].split('|')[0] }}" 00:49:49">
                    <input type="text" class="input" name="names[33]" placeholder="Название"
                    value="{{ stat[34].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[34]" placeholder="Дата" value="{{ stat[34].split(',')[0] }} {{ stat[34].split(',')[1].split('|')[0] }}" 10:38:20">
                    <input type="text" class="input" name="names[34]" placeholder="Название"
                    value="{{ stat[35].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[35]" placeholder="Дата" value="{{ stat[35].split(',')[0] }} {{ stat[35].split(',')[1].split('|')[0] }}" 02:12:33">
                    <input type="text" class="input" name="names[35]" placeholder="Название"
                    value="{{ stat[36].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[36]" placeholder="Дата" value="{{ stat[36].split(',')[0] }} {{ stat[36].split(',')[1].split('|')[0] }}" 00:55:04">
                    <input type="text" class="input" name="names[36]" placeholder="Название" value="{{ stat[37].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[37]" placeholder="Дата" value="{{ stat[37].split(',')[0] }} {{ stat[37].split(',')[1].split('|')[0] }}" 17:41:12">
                    <input type="text" class="input" name="names[37]" placeholder="Название"
                    value="{{ stat[38].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[38]" placeholder="Дата" value="{{ stat[38].split(',')[0] }} {{ stat[38].split(',')[1].split('|')[0] }}" 07:21:05">
                    <input type="text" class="input" name="names[38]" placeholder="Название"
                    value="{{ stat[39].split('|')[1] }}">
                </div>
                <div class="main__row-input">
                    <input type="text" class="input" name="dates[39]" placeholder="Дата" value="{{ stat[39].split(',')[0] }} {{ stat[39].split(',')[1].split('|')[0] }}" 07:51:08">
                    <input type="text" class="input" name="names[39]" placeholder="Название"
                    value="{{ stat[40].split('|')[1] }}">
                </div>
            </div>
            <input type="submit" class="btn" value="Редактировать">
        </form>
    </div>

</body>

</html>