<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://css.gg/css?=" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        h1 {
            font-weight: bolder;
            color: white;
        }

        h2 {
            font-weight: bolder;
            color: white;
        }

        p {
            font-size: 15px;
            opacity: 70%;
        }

        .card-body1 {
            padding: 50px;
        }

        .card {
            border: 0 !important;
        }

        @media (max-width:961px) {
            .fff {
                flex-direction: column;
                margin: 7%;
            }
        }

        .padding20 {
            padding: 20px;
        }

        svg {
            margin-bottom: 10px;
        }
    </style>

</head>

<body>
    <!--ХЕДЕР-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
        <div class="container justify-content-center">
            <a class="navbar-brand" href="{{ url_for('router', to='index') }}">UDP&nbsp;Express</a>
            <div class="collapse navbar-collapse justify-content-center" id="navbar1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('router', to='index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('router', to='services') }}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('router', to ='logistics') }}">Logistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('router', to = 'contacts') }}">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('router', to='about') }}">About us</a>
                    </li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; text-align: center;">
                <a class="nav-link text-decoration-none text-light">support@udp-express.com</a>
            </div>

            <!-- Burger button -->
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>

        </div>
    </nav>
    <!--КОНЕЦ ХЕДЕРА-->
    <!--ГЛАВНЫЙ БЛОК-->
    <div
        style="background-image: url(static/image/img.png); width: 100%; height: 300px; overflow: hidden; display: flex; align-items: center; position: relative;">
        <div
            style="display:flex; margin: auto; text-align: center; justify-content: space-around; flex-direction: column;">
            <h1>OUR <span style="color:#0d6efd!important">SHIPPING</span> SERVICE</h1>
            <h2>YOUR PATH TO PEACE OF MIND</h2>
            <div class="input-group" style="margin-top: 20px;">
                <form class="input-group" style="margin-top: 20px;" action="{{ url_for('search') }}" method="POST">
                    <input type="search" class="form-control rounded" name="track" placeholder="Your Track Number"
                        aria-label="Search" aria-describedby="search-addon" />
                    <button type="submit" class="btn btn-primary">search</button>
                </form>
            </div>
        </div>

    </div>
    <!--ВСЯ ИНФА НАЧАЛО!-->
    <div style="width:80%; margin: 5% 10%">

        <h1 style="color:#0d6efd!important">Direct transport</h1>
        <p>Freight handling by motor transport, fully or partly loaded with goods of one or more clients. “Direct
            transport” delivery is available the CIS countries and Europe, with no terminal cargo handling en route.
        </p>
        <br>
        <br>
        <h3>Benefits of the service:</h3>
        <ul>
            <li>Vast delivery geography</li>
            <li>Selection of the optimal transportation for your shipment</li>
            <li>Delivery payment in USD or EUR</li>
            <li>Flexible tariffs</li>
            <li>Optimal rates</li>
            <li>Cargo tracking at any point of the route</li>
            <li>Economic viability for cargoes of medium and large tonnage</li>
            <li>Shipment of different cargo categories, as well as organization of specified-time delivery with extended
                loading and unloading times.</li>
        </ul>
        <br>
        <br>
        <br>

        <h3>Detailed description of the service:</h3>
        <p>Geography - Transportation of goods throughout the Customs Union and the CIS countries. Export and import
            cargo transportation throughout the Central and East European countries and many other countries.</p>
        <br>
        <br>
        <br>
        <br>

        <h1 style="color:#0d6efd!important">Consolidated cargo</h1>
        <p> Delivery of small loads by international transport. Delivery is carried out by road throughout the CIS
            countries, from Europe or to Europe.</p>
        <br>
        <br>
        <h3>Benefits of the service:</h3>
        <ul>
            <li>Cost effective solutions for delivery of small cargoes throughout the CIS, from Europe or to Europe
            </li>
            <li>Flexible approach to tariffs</li>
            <li>Door-to-door delivery</li>
            <li>Economic viability for shipments of cargoes with medium and large tonnage</li>
            <li>Cargo tracking at any point of the route</li>
            <li>Economic viability for cargoes of medium and large tonnage</li>
            <li>The possibility of synergy when using several services: international transport of cargo, customs
                clearance, warehouse handling, shipment of a consolidated load . Shipment of different categories of
                cargo, as well as organization of specified-time delivery with extended loading and unloading times.
            </li>
        </ul>

        <br>
        <br>
        <h3>Detailed description of the service:</h3>
        <p>UDP Express offers its customers favorable terms for export and import shipments of
            consolidated
            cargoes throughout the CIS, from Europe or to Europe.
            Shipping of consolidated cargo is especially effective for you when you want to organize the delivery of a
            small
            shipment.
            In this case, your cargo will be consolidated with cargoes of the other customers.
            Delivery times are slightly longer, but this kind of shipping provides significant savings on logistics
            costs.
        </p>


        <p>UDP Express offers its customers a service of an integrated supply chain in order to use the
            most
            cost-effective logistics solutions at each stage of the movement of the goods.</p>

        <p>We guarantee to meet delivery dates, and the safety and confidentiality of your shipments.</p>

        <p>You can track the status of the cargo delivery on our website, via our contact center.</p>

        <p>Delivery time: 3 days and more. </p>

        <br>
        <br>
        <br>
        <br>
        <h1 style="color:#0d6efd!important">Freight transport</h1>
        <br>
        <p>Transportation of freight in containers from Asia and Western Europe, delivered by various modes of
            transportation, as well as the delivery of containers from the Russian and European ports by road and rail.
        </p>
        <br>
        <br>

        <h3>Benefits of the service:</h3>
        <ul>
            <li>Vast delivery geography</li>
            <li>Customs clearance of the consolidated load using UDP Express, other customs brokers, or
                by the client</li>
            <li>High transportation reliability and freight safety in sealed containers</li>
            <li>Economic viability of cargo shipments from Western Europe and Asia</li>
            <li>Door-to-door delivery by road and by rail if required.</li>
        </ul>
        <br>
        <br>


        <h3>Detailed description of the service:</h3>
        <p>UDP Express helps to organize the import of goods from Asia and Western Europe.</p>

        <p>Intermodal freight transport refers to the combined, well-organized transportation of cargo, delivered by
            various means of international transport.
            It is based on the delivery of cargoes in sealed containers.
            UDP Express provides intermodal container transportation “from door to door” if required.
            We are also happy to offer interesting conditions for the delivery of containers from the ports including
            delivery to your warehouse.</p>

        <p>Today, container transport is truly considered to be one of the most reliable forms of delivery.
            High strength containers protect the cargo from the environment and external damage during transportation.
            Automated loading and unloading of cargo in containers can bring significant savings to these operations and
            make them fast.</p>

        <p>UDP Express is ready to guarantee its customers efficient and reliable delivery of goods in a
            short time.
            We are ready to provide various types of containers to our customers for transportation of a wide range of
            goods.</p>

        <p>UDP Express offers its customers a service of an integrated supply chain in order to use the
            most cost-effective logistics
            solutions at each stage of the movement of the goods.</p>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </div>
    <!--ВСЯ ИНФА ЗАКОНЧИЛАСЬ!-->
    <!--ФУтер начало-->
    <div class="container" style="margin-top: 100px;">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{{ url_for('router', to='index') }}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('router', to='services') }}" class="nav-link px-2 text-muted">Services</a></li>
                <li class="nav-item"><a href="{{ url_for('router', to ='logistics') }}" class="nav-link px-2 text-muted">Logistics</a></li>
                <li class="nav-item"><a href="{{ url_for('router', to = 'contacts') }}" class="nav-link px-2 text-muted">Contacts</a></li>
                <li class="nav-item"><a href="{{ url_for('router', to='about') }}" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© 1998-2023 UDP Express, Inc</p>
        </footer>
    </div>
    <!--ФУтер конец-->
</body>

</html>